body {
  background-image: url("resources/bg1.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  user-select: none;
}
footer {
    position: fixed;
    left: 10px;
    bottom: 5px;
    right: 10px;
    width: 95%;
    background-color: transparent;
    color: transparent;
    text-align: center;
    user-select: none;
    font-size: 22.5px;
  }
footer1 {
    position: fixed;
    left: 10px;
    bottom: 5px;
    right: 10px;
    width: 95%;
    background-color: transparent;
    color: transparent;
    text-align: right;
    user-select: none;
    font-size: 22.5px;
  }

center {
    margin: auto;

    font-family: 'Courier';
    color: white;
    text-align: center;
    user-select: none;
    font-size: 22.5px;
    }

leftfooter {
    position: fixed;
    left: 50px;
    bottom: 5px;
    right: 10px;
    width: 95%;
    font-family: 'Courier';
    color: white;
    text-align: left;
    user-select: none;
    font-size: 22.5px;
    }

centerpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 285px;
    font-size: 200px;
    user-select: none;
    }
centerpagebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    user-select: none;
    }


middle {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 285px;
    font-size: 200px;
    user-select: none;
    animation: color-change 20s infinite;
    padding: 10px 40px 10px 40px;
    backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 0px solid rgba( 255, 255, 255, 0.18 );
    margin: auto;
    }

@keyframes color-change {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
  }


  .eregebev2
  {
    background-image: repeating-linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 190px;
    margin: auto;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  a {

    text-decoration: none;
  }

  .buttonlinks {

    width: 250px;
    font-size: 20px;
    padding: 10px 0px 10px 40px;
    text-decoration: none;
    backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: auto;
    transition: all 0.5s;
    cursor: pointer;

  }

  .button {
    border: none;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px 100px 10px 100px;
    text-decoration: none;
    backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: auto;
    text-align: center;
    font-size: 50px;
  }

  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -50px;
    transition: 0.5s;
  }

  button:hover span {
    padding-right: 50px;
  }

  button:hover span:after {
    opacity: 1;
    right: 0;
  }
